/* General */
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
}
a {
	text-decoration: none;
}
.titleOfHeader {
	text-align: center;
}
.listOfItemsNavBar {
	list-style: none;
}
.itemNavBar {
	display: inline-block;
	padding-left: 2rem;
	margin-top: 1rem;
}
.copyrigthFooter {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}
.titleOfMain,
.paragraphIndex,
.footer {
	margin-top: 1rem;
}

/* Adopcion */
.checkAdopcion {
	width: 1.2rem;
	height: 1.2rem;
	margin-right: 1rem;
	margin-top: 1rem;
}
